:root {
  --vp-font-family-base: "Plus Jakarta Sans Variable", sans-serif;
  --vp-font-family-mono: "JetBrains Mono Variable", monospace;
}

img[src*="#dark"] {
  display: none;
}

.dark img[src*="#dark"] {
  display: block;
}

.dark img[src*="#light"] {
  display: none;
}
